.button {
  background-color: $primary;
  color: $white;
  display: flex;
  align-items: center;
  font-size: 9px;

  transition: 0.3s;
  &:disabled {
    cursor: not-allowed;
  }
  &-action {
    font-size: 14px;
    text-align: center !important;
    display: block;
    padding: 15px 20px;
    display: inline-block;
    cursor: pointer;
  }
  &:hover {
    box-shadow: 3px 3px 0 $yellow;
  }
  &:active {
    background-color: $yellow;
    box-shadow: none;
    transform: translate(2px, 3px);
  }
  i {
    margin-left: 10px;
  }
  p {
    cursor: pointer;
    font-size: 10px;
  }
}

.disabled {
  color: $white;
  background: $gray;
  cursor: not-allowed;
  &:hover {
    box-shadow: none;
    background-color: $gray;
    transform: none;
  }
}

i.bi-x-circle {
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    color: $yellow;
  }
}
