.card-wrapper {
  // margin-left: -30px;
  // margin-right: -30px;
  margin-top: 20px;
  display: flex;
  overflow-x: scroll;
  padding-bottom: 20px;
  &::-webkit-scrollbar {
    background-color: red;
    height: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: #f8f8f8;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $secondary;
  }
}

.card-event {
  width: 180px;
  height: 290px;
  position: relative;
  background-color: $white;
  margin-left: 30px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
  &:hover {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  }
  .cover {
    width: 180px;
    height: 150px;
    overflow: hidden;
    background-color: $secondary;
    img {
      width: 100%;
      opacity: 0;
    }
  }
  .event-name {
    font-size: 10px;
    height: 30px;
    background-color: $primary;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
    color: $white;
    margin-top: -15px;
    margin-left: 10px;
    position: relative;
    z-index: 20;
    line-height: 30px;
    p {
      margin-left: 10px;
    }
  }
  .event-desc {
    font-size: 10px;
    padding: 10px;
    height: 80px;
    overflow: hidden;
  }

  .event-date {
    position: absolute;
    bottom: 10px;
    font-size: 9px;
    width: 100%;
    left: 10px;
    right: 0;
    .date {
      font-weight: bold;
    }
  }
}
