.card-wrapper {
  // margin-left: -30px;
  // margin-right: -30px;
  margin-top: 20px;
  padding-left: 30px;
  display: flex;
  overflow-x: scroll;
  padding-bottom: 30px;
  &::-webkit-scrollbar {
    background-color: red;
    height: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: #f8f8f8;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $secondary;
  }
}

.card-event {
  width: 150px;
  height: 290px;
  position: relative;
  background-color: $white;
  margin-right: 15px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
  &:hover {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  }
  .cover {
    width: 150px;
    height: 130px;
    position: relative;
    overflow: hidden;
    background-color: $secondary;
    line-height: 130px;
    img {
      width: 100%;
      opacity: 0;
    }
    .eye {
      transition: 0.3s;
      text-align: center;
      font-size: 36px;
      color: $white;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 20;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      opacity: 0;
    }
  }
  &:hover {
    .eye {
      opacity: 1;
    }
  }
  .event-name {
    font-size: 10px;
    height: 25px;
    background-color: $primary;
    width: 50%;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
    color: $white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin-top: -15px;
    margin-left: 10px;
    position: relative;
    z-index: 21;
    line-height: 25px;
    p {
      cursor: pointer;
      margin-left: 10px;
    }
  }
  .event-desc {
    font-size: 10px;
    padding: 10px;
    height: 80px;
    overflow: hidden;
  }

  .event-date {
    position: absolute;
    bottom: 10px;
    font-size: 9px;
    width: 100%;
    left: 10px;
    right: 0;
    .date {
      font-weight: bold;
    }
  }
}
