.cardSection {
  margin-top: 27px;
  padding-top: 20px;
  // padding-bottom: 20px;
  background-color: $white;
  margin-left: -30px;
  margin-right: -30px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.04);
}
