.header {
  background-color: $primary;
  height: 50px;
  z-index: 99;
  display: flex;
  position: fixed;
  width: 411px;
  top: 0;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.07);
  justify-content: space-between;
  flex-direction: row;
  color: $white;
  align-items: center;
  h1 {
    margin-left: 20px;
    font-size: 17px;
    font-weight: bold;
  }
  h2 {
    margin-right: 20px;
    font-size: 15px;
  }
}

.bottomNav {
  z-index: 99;
  background-color: $primary;
  height: 55px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  bottom: 0;
  width: 411px;
  .item-bottom-nav {
    color: $white;
    text-decoration: none !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70px;
    height: 38px;
    .icon {
      color: $white !important;
      font-size: 25px;
    }
    .title {
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 600px) {
  .bottomNav {
    width: 100%;
  }
  .header {
    width: 100%;
  }
}
