@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css');
* {
  font-family: 'Montserrat', sans-serif !important;
}

$primary: #1e6091;
$secondary: #219ebc;
$white2: #f8f9fa;
$white: #fff;
$yellow: #fdc500;
$gray: #adb5bd;
$green: #3f784c;
$red: #b20d30;
