@import 'variables';
@import 'reset';
@import 'headerBottom';

@import 'component/button';
@import 'component/cardEvent';
@import 'component/cardSection';
@import 'component/sectionTitle';
@import 'component/loginForm';
@import 'component/smallerComponent/input';

@import 'home';

button {
  border: none;
}
