@import 'variables';
@import 'reset';
@import 'headerBottom';

@import 'component/button';
@import 'component/cardEvent';
@import 'component/cardSection';
@import 'component/sectionTitle';
@import 'component/loginForm';
@import 'component/smallerComponent/input';

@import 'home';

body {
  background-color: rgba($color: $primary, $alpha: 0.8);
}

button {
  border: none;
}
