@import 'variables';
@import 'reset';
@import 'headerBottom';

@import 'component/button';
@import 'component/cardEvent';
@import 'component/cardSection';
@import 'component/sectionTitle';
@import 'component/loginForm';
@import 'component/smallerComponent/input';
@import 'component/smallerComponent/alert';

@import 'home';

::-webkit-scrollbar {
  background-color: red;
  width: 3px;
}
::-webkit-scrollbar-track {
  background-color: $primary;
}
::-webkit-scrollbar-thumb {
  background-color: #f8f8f8;
}

body {
  background-color: rgba($color: $primary, $alpha: 0.8);
}

button {
  border: none;
}
