.alert-form {
  font-size: 0.7em;
  margin-bottom: 5px;
  position: relative;
  top: -8px;
  margin-top: -100px !important;
  display: inline-block;
  &-success-btn {
    color: $white;
    font-size: 14px;
    padding: 10px 20px;
    background-color: $green;
  }
  &-danger {
    color: $red;
    font-size: 0.7em;
    margin-bottom: 5px;
    position: relative;
    top: -8px;
  }
  &-success {
    color: $green;
    font-size: 0.7em;
    margin-bottom: 5px;
    position: relative;
    top: 15px;
  }
}
