.form-wrapper {
  margin-bottom: 23px;
}

input.input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 34px;
  margin-bottom: 10px;
  outline: none;
  border: 1px solid $primary;
  padding-left: 10px;
  transition: 0.2s;
  &::placeholder {
    color: $gray;
  }
  &:focus {
    border: 1px solid $yellow;
  }
}

.alert-form {
  font-size: 0.7em;
  margin-bottom: 5px;
  position: relative;
  top: -8px;
  margin-top: -100px !important;
  display: inline-block;
}
