.form-wrapper {
  margin-bottom: 23px;
}

input.input {
  background-color: #f8f9fa;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 34px;
  margin-bottom: 10px;
  outline: none;
  border: 1px solid $primary;
  padding-left: 10px;
  transition: 0.2s;
  &::placeholder {
    color: $gray;
  }
  &:focus {
    border: 1px solid $yellow;
  }
}
